/* Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 440px) {

    * {
        box-sizing: border-box;
    }

    .topo {
        background-color: #CF2B2B;
        height: 92px;
        width: 100%;
        position: fixed;
        top: 0;
        margin: 0 auto;
        justify-content: center;
        z-index: 1;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .container-principal {
        background-color: #EEEEEE;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
        margin-top: 92px;
        margin-bottom: 110px;
        z-index: 0;
        padding: 10px;
    }

    .prato, .bebida, .sobremesa {
        background-color: #EEEEEE;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        overflow-x: scroll;
        padding: 3px;
        scrollbar-width: none;
    }

    .proteina-1, .proteina-2 , .proteina-3,
    .coquinha, .fanta, .suco,
    .pudim, .mousse, .brownie {
        background-color: #FFFFFF;
        padding: 10px;
        width: 172px;
        height: 216px;
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        justify-content: center;
        gap: 10px;
        border: 3px solid #FFFFFF;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .selecionado {
        border: 5px solid #20861e;
        border-radius: 10px;
        padding: 10px;
    }


    .proteina-1 > img, .proteina-2 > img, .proteina-3 > img,
    .coquinha > img, .fanta > img, .suco > img,
    .pudim > img, .mousse > img, .brownie > img {
        width: 144px;
        height: 87px;
        border-radius: 4px;
    }


    footer {
        background-color: #FFFFFF;
        height: 92px;
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .footerBtn {
        background-color: #CBCBCB;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding: 10px; 
        border: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        align-items: center;
        justify-content: center;
    }

    .overlay {
        background-color: #FFFFFF;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 2;
        justify-content: center;
    }
    
    .overlay-visivel {
        display:flex;
        position: fixed;
        background-color: #eeeeeee1;
        padding: 20px;
        margin: auto 0;
        width: 100%;
        height: 100%;
    }

    .janela-confirmacao {
        background-color: rgb(12, 219, 9);
        padding: 20px;
        box-sizing: content-box;
        gap:10px;
        border-radius: 10px;
        margin: auto 0;
        text-align: center;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        width: 80%;
        height: auto;
    }

    .confirmarBtn {
        padding: 10px 20px;
        background-color: #28a745; 
        color: white; 
        text-align: center; 
        text-decoration: none;
        border-radius: 5px; 
        font-weight: bold; /* Deixa o texto em negrito */
    }

    .cancelarBtn {
        padding: 10px 20px;
        background-color: #ffffff; 
        color: rgb(0, 223, 33);
        border: none; 
        text-align: center; 
        text-decoration: none;
        border-radius: 5px; 
        font-weight: bold; /* Deixa o texto em negrito */
    }
    

    /*fontes*/
    h1 {
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        line-height: 54.63px;
        font-size: 44px;
        color: #FFFFFF;
        margin-left: 20px;
    }

    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        line-height: 21px;
        font-size: 18px;
        color: #FFFFFF;
        margin-left: 20px;
    }

    h3 {
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        line-height: 32px;
        font-size: 26px;
        color: #333333;
        margin: 15px 0;
    }

    h4 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        line-height: 18px;
        font-size: 16px;
        color:#333333;
    }

    h5 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        line-height: 18px;
        font-size: 16px;
        color:#333333;
    }

    h6 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color:#ffffff;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        line-height: 17px;
        font-size: 15px;
        color: #A6A6A6;
    }
}
