* {
    box-sizing: border-box;
}

/* Cabeçalho */
.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    padding: 30px;
    position: fixed;
    border-radius: 2px;
    border-bottom: #0000000D;
    top: 0;
    z-index: 2;
}


.header img {
    width: 75px;
}

.header ion-icon {
    font-size: 50px;
    cursor: pointer;
}

/* Container principal */
.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 20vh);
    margin-top: 10vh; 
    margin-bottom: 10vh;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: calc(100vh - 20vh);
    margin: 0 auto; /* Centraliza horizontalmente no contêiner pai */
    overflow-y: auto; /* Adiciona scroll se o conteúdo for maior que a altura */
    background-color: burlywood;
    width: 100%; /* Garante que o chat-box ocupe toda a largura disponível */
}

.messages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2px;
}

/* Estilo para mensagens normais (branco) */
.normal-message {
    background-color: white;
    color: black; /* Cor do texto para melhor legibilidade */
    padding: 10px;
}

/* Estilo para mensagens privadas (vermelho) */
.private-message {
    background-color: red;
    color: white; /* Cor do texto para melhor legibilidade */
    padding: 10px;

}

/* Estilo para mensagens de status (cinza) */
.status-message {
    background-color: gray;
    color: white; /* Cor do texto para melhor legibilidade */
    padding: 10px;
}

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: -50%;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 20px;
    z-index: 20;
    gap: 20px;
    transition: right 0.4s ease;
}

.sidebar.active {
    right: 0;
}

/* Seleção de contatos e visibilidade */
.contato-item, .visibilidade-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
    padding: 10px 0;
}

/* Exibe o ícone de checkmark quando o item for selecionado */
.checkmark {
    display: none;
}

.checkmark.selecionado {
    display: inline-block;
    color: green;
    font-size: 20px;
}

/* Camada de fundo */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.overlay.active {
    display: block;
}

/* Rodapé */
footer {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

footer input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #569fde;
    color: rgb(154, 47, 47);
    cursor: pointer;
    transition: 0.3s;
}

footer button:hover {
    background-color: #3a7ab7;
}
